body {
	background-color: #7f9dcf;
}

.text {
	color: #13233d;
}
.header	{text-align: center;}
.block	{
	color: #dad5cf;
}
.vved {
	color: #552413;	
}
.razm {text-decoration: underline;}
.fon {background-color: black}